body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(219, 24, 24);
    color: white;
    text-align: left;
    z-index: 1000;
    padding: 0em 10px;
    width: 100%;
    position: fixed;
    
}

header h1 ,header h3 {
    margin-left: 10px;
}


.sidebar{
    width: 150px;
    background-color: rgb(9, 144, 128);
    padding: 20px;
    position: fixed;
    top: 140px;
    bottom: 80px;
    overflow-y: scroll;
}

.sidebar h3{
    text-align:center;
}

.sidebar .categories, .sidebar .archives{
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a{
    text-decoration: underline;
    color: white;
    display: block;
    padding: 5px;
}

.sidebar ul li a:hover{
    background-color: blanchedalmond;
}

main{
    margin-left: 220px;
    padding: 30px;
    flex: 1;
    margin-right: 20px;
    margin-bottom: 140px;
    margin-top: 170px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: rgb(219, 24, 24);
    color: white;
    text-align: left;
    padding: 10px 20px;
    margin-top: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
}

footer h1{
    margin-left: 10px;
}

